
</div>
<footer class="footer">
  <div><a href="https://coreui.io"></a><a href="https://coreui.io">Furni Admin </a> © 2024 creativeLabs.</div>
  <div class="ms-auto">Powered by&nbsp;<a href="https://www.linkedin.com/in/hrishikesh-gholap-74ba74283?utm_source=share&utm_campaign=share_via&utm_content=profile&utm_medium=android_app">Hrishi Gholap</a></div>
</footer>
</div>
<!-- CoreUI and necessary plugins-->
<script src="/admin/vendors/@coreui/coreui/js/coreui.bundle.min.js"></script>
<script src="/admin/vendors/simplebar/js/simplebar.min.js"></script>
<!-- Plugins and scripts required by this view-->
<script src="/admin/vendors/chart.js/js/chart.min.js"></script>
<script src="/admin/vendors/@coreui/chartjs/js/coreui-chartjs.js"></script>
<script src="/admin/vendors/@coreui/utils/js/coreui-utils.js"></script>
<script src="/admin/js/main.js"></script>
<script>
</script>

</body>
</html>
