<%- include("navbar.ejs") %>
<form action="/do_register" method="post" enctype="multipart/form-data">
<div class="container-fluid mt-5 mb-5">
    <div class="row justify-content-center">
        <div class="col-md-4  bg-white shadow p-5">
            <h3 class="text-center">SignUp Now,</h3>
            <label class="fw-bold mt-2">Enter Name</label>
            <input type="text" class="form-control" required name="user_name" style="height:40px">

            <label class="fw-bold mt-2">Enter Mobile No.</label>
            <input type="number" class="form-control" required name="mobile_number" style="height:40px">

            <label class="fw-bold mt-2">Enter Email</label>
            <input type="email" class="form-control" required name="email_id" style="height:40px">

            <label class="fw-bold mt-2">Gender</label>
            <p class="fw-bold">Male <input type="radio" checked=true name="user_gender" value="Male"> 
            Female <input type="radio" name="user_gender" value="Female">  Other <input type="radio" name="user_gender" value="Other"> </p>
            <label class="fw-bold mt-2"> User Photo</label>
            <input type="file" name="user_photo" class="form-control p-1"style="height:30px;" >
            <label class="fw-bold mt-2">Enter Password</label>
            <input type="password" class="form-control" required name="password" style="height:40px">
            <div class="text-center">
            <button class="btn btn-primary mb-3 mt-4">SignUp</button>
            <br>
            <h6>Already User <a href="/login">Login Here</a></h6>
            </div>
        </div>
    </div>
</div>
</form>
<%- include("footer.ejs") %>